@using MvcLibrary.Models.Entity;
@model List<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<h2>Kategoriler</h2>


<table class="table table-bordered">
    <tr>
        <th>KATEGORİ ID</th>
        <th>KATEGORİ ADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var category in Model)
    {
        <tr>
            <td>@category.CategoryID</td>
            <td>@category.Name</td>
            <td><a href="/Category/DeleteCategory/@category.CategoryID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Category/GetCategory/@category.CategoryID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Category/AddCategory/" class="btn btn-primary">Yeni Kategori Ekle</a>